@value makerLightMintGreen,makerDarkGreen,makerGreen,makerWhite,makerBlack,makerLightGreen from '../../common/colors.css';
.loginPage {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  background-color: makerWhite;
}
.loginForm {
  padding: 2em 1em;
  text-align: center;
}
.title {
  margin: 0 0 1em;
  font-size: 1.5rem;
}
.buttonList li {
  margin: 0 0 1.4em;
  display: block;
  width: 100%;
  border-radius: 200px;
  border: 2px solid makerGreen;
  transition: 0.2s ease-in;
}
.buttonList button {
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  color: makerDarkGreen;
  transition: 0.2s ease-in;
}
.buttonList li:hover button {
  color: makerLightGreen;
}
.buttonList li:hover {
  border-color: makerLightGreen;
  background-color: makerLightMintGreen;
}
.buttonList button span {
  display: inline-block;
  margin: 0 0 0 4px;
}
