@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1em;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

button,
input {
  border-style: none;
  outline: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}
fieldset {
  border: 0;
}
ul,
li,
ol {
  list-style: none;
}
address {
  font-style: normal;
}
.hide {
  position: absolute;
  top: -99999px;
  left: -99999px;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
